<!DOCTYPE html>
<html>
<head>
    <title>Jadwal Film</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">{{ jadwal.film.judul }} - {{ jadwal.tanggal }} {{ jadwal.waktu }}</h1>
        <form method="post">
            <button type="submit" class="btn btn-primary">Pesan Tiket</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>